.pages-views-synopsis {

    .slick-slide {
        overflow-y: hidden;

        img {
            max-height: 500px;
            width: auto;
        }
    }

    .content_list {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
}
