.pages-views-synopsis {

    .slick-slide {
        text-align: center;
        height: 250px;
        line-height: 250px;
        background: #364d79;
        overflow: hidden;

        h3 {
            color: #fff;
        }
    }

    .content_list {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
}
