@font-face {
  font-family: 'iconfont';  /* project id 1466792 */
  src: url('//at.alicdn.com/t/font_1466792_jtuy1m4nfzq.eot');
  src: url('//at.alicdn.com/t/font_1466792_jtuy1m4nfzq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1466792_jtuy1m4nfzq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1466792_jtuy1m4nfzq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1466792_jtuy1m4nfzq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1466792_jtuy1m4nfzq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  margin-right: 10px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang::before {
  content: '\e644'
}
