.pages-app {
  width: 100%;
  height: 100vh;

  .header {
    height: 8vh;
    display: flex;
    font-size: 18px;
    line-height: 8vh;
    justify-content: space-between;

    .menuList {
      
      .item {
        height: 100%;
        color: #8a8a8a;
        margin-right: 30px;
        padding: 0 10px;
      }
    }

    .active {
      border-bottom: 3px solid #3490e7;
    }

    .github {
      color: #8a8a8a;

      span {
        margin-right: 5px;
      }
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    padding: 20px 100px;
    background-color: #ffffff;
  }

  .footer {
    height: 8vh;
    text-align: center;
  }
}